@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100;1,200&display=swap");

:root {
  --bg1: #fff;
  --bg2: #f5f3f0;
  --black: #0a0a0a;
  --yellow: #deb666;
  --text1: #858a99;
  --heading:#606060;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text1);
  background: var(--bg1);
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
section{
  padding: 3rem 10rem;
}
h1{
  color: var(--heading);
  font-size: 32px;
}
.bg2{
  background: var(--bg2);
}
.first-section{
  padding-top: 7rem;
}


@media (max-width:768px) {
  section{
    padding: 2rem;
  }
}
@media (max-width:426px) {
  section{
    padding: 1rem;
  }
  h1{
    font-size: 22px;
  }
}